@using RazorNuke.Models
@using RazorNuke.Models.ViewModels
<!DOCTYPE html>
<html lang="@ViewData["Language"]" dir="@ViewData["Direction"]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(ViewData["Title"])</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorNuke.styles.css" asp-append-version="true" />
</head>
<body>
    @if (ViewData["FatalError"] != null)
    {
        <p>@ViewData["FatalError"]</p>
        @RenderBody()
    }
    @if (ViewData["Menu"] == null)
    {
        <p>Menu is null!</p>
        @RenderBody()
    }
    else if ((ViewData["Menu"] as RazorNukeMenuItem)!.Children == null)
    {
        @RenderBody()
    }
    else
    {
        <header>
            <div class="site-branding">
                <p class="main-title" itemprop="headline"><a class="navbar-brand" href="/">@ViewData["SiteName"]</a></p>
            </div>
            <div class="menu-toggle" onclick="toggleMenu()">☰ منو</div>
            <nav>
                <partial name="_MenuPart" model=@(new _MenuPartModel{MenuItem = ViewData["Menu"] as RazorNukeMenuItem}) />
            </nav>

        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    @if (ViewData["FooterItems"] != null && ViewData["FooterItems"] is string[])
    {
        <footer class="border-top footer text-muted">
            <div class="container">
            @foreach (var footerItem in ViewData["FooterItems"] as string[])
            {
                <span>
                        @Html.Raw(footerItem)
                </span>
            }
                @if (ViewData["LoggedIn"] != null && (ViewData["LoggedIn"] is bool) && (bool)ViewData["LoggedIn"]!)
                {
                    <span>
                        <a href="/Editor?id=@ViewData["Id"]">ویرایش</a>
                    </span>
                    <span>
                        <a href="/Editor">+</a>
                    </span>
                }

            </div>
        </footer>
    }

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (ViewData["LoggedIn"] != null && (ViewData["LoggedIn"] is bool) && (bool)ViewData["LoggedIn"]!)
    {
        <script src="/lib/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: 'textarea.editor',
                language: 'fa_IR',
                menubar: true,
                contextmenu: false,
                height: 500,
                toolbar: 'undo redo | styles | bold italic underline | table | link image paste | emoticons',
                plugins: 'autolink media link image emoticons table paste',
                automatic_uploads: true,
                images_upload_url: '?Handler=UploadImage',
                skin: (window.matchMedia("(prefers-color-scheme: dark)").matches && localStorage.getItem("scheme") != "light" ? "oxide-dark" : localStorage.getItem("scheme") == "dark" ? "oxide-dark" : ""),
                content_css: (window.matchMedia("(prefers-color-scheme: dark)").matches && localStorage.getItem("scheme") != "light" ? "dark" : localStorage.getItem("scheme") == "dark" ? "dark" : ""),
            });
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>